pallette {
  color: #38897A;
  color: #184B46;
  color: #D3D05D;
  color: #E6E9B2;
  color: #7F443C;
}

body {
  font-family: 'Times New Roman', Times, serif;
  width: 98vw;
}

header {
  position: auto;
  /*background-color: white;*/
}

nav {
  overflow: hidden;
  padding: 1em;
  /*align-items: right;
  background-color: #184B46;*/
}
nav h1 {
  float: left;
  margin-top: 1em;
  font-size: 200%;
  font-style: italic;
}
nav ul {
  float: right;
  margin-top: 1em;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
nav ul li {
  display: inline-flex;
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: black;
  margin: 1em;
  font-size: 150%;
}
hr {
  margin-top: -2em;
}
/*Change only from here*/
main {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin-top: 5%;
}

main div{
  display: flex;
  width: auto;
  height: 100vh;
  /*border: 1px solid black;*/
}

div.Presentation p {
  display: flexbox;
  align-items: center;
  font-size: 300%;
  font-weight: bolder;
  /*border: 1px solid black;*/
  padding: 2em;
}

div.information-block#Features {
  margin-top: 15em;
  display: flex;
  flex-direction: column;
}

div.information-block#Features h2 {
  font-size: 200%;
  /*border: 1px solid black;*/
}
div.information-block#Features ul {
  /*border: 1px solid black;*/
  padding: 2em;
}

div.information-block#Features ul li {
  font-size: 150%;
  margin: 1em 1em 1em 5em;
}
