pallette {
  color: #38897A;
  color: #184B46;
  color: #D3D05D;
  color: #E6E9B2;
  color: #7F443C;
}

body {
  font-family: 'Times New Roman', Times, serif;
  width: 98vw;
}

header {
  position: auto;
  /*background-color: white;*/
}

nav {
  overflow: hidden;
  padding: 1em;
  /*align-items: right;
  background-color: #184B46;*/
}
nav h1 {
  float: left;
  margin-top: 1em;
  font-size: 200%;
  font-style: italic;
}
nav ul {
  float: right;
  margin-top: 1em;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
nav ul li {
  display: inline-flex;
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: black;
  margin: 1.25em 1em;
  font-size: 125%;
}
hr {
  margin-top: -3em;
}
/*Change only from here*/
main {
  display: flex;
  flex-direction: column;
  padding: 2em 2.5em 0em 2.5em;
  margin-top: 5%;
}

main div{
  display: flex;
  width: auto;
  height: 95vh;
  /*border: 1px solid black;*/
}

div.Presentation {
  display: inline-flexbox;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

div.Presentation p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  font-weight: bolder;
  /*border: 1px solid black;*/
  padding: 2em;
  width: fit-content;
}

div.Presentation p i q {
  float: right;
  font-size: 75%;
}

div.information-block#Features {
  margin-top: 15em;
  display: flex;
  flex-direction: column;
}

div.information-block h2 {
  font-size: 200%;
  /*border: 1px solid black;*/
}
div.information-block#Features ul {
  /*border: 1px solid black;*/
  padding: 2em;
}

div.information-block#Features ul li {
  font-size: 150%;
  margin: 1em 1em 1em 5em;
}

#myBtn {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: white; /* Add a dark-grey background on hover */
  color: black;
  border: 1px solid #184B46;
}